# this is a .gitgnore file for files to not commit

# ignore files in data folder
data/* 

# ignore files in images folder
images/*

# ignore all pdf files
*.pdf

*_files/*
**/libs/*
env/*
.venv/*
.local/*

# ignore cache
.DS_Store
